@model IEnumerable<NewsViewModel>

@{
    ViewData["Title"] = "List of News";
}


<div class="row">
    <form class="form-inline my-2 my-lg-0 row" asp-controller="News" asp-action="Filter" style="padding-right: 25px;">
        <div class="col-6">
           
            <select name="categoryId" class="form-control">
                <option value="">-- Select Category --</option>
                @foreach (var category in (SelectList)ViewBag.Category)
                {
                    <option value="@category.Value">@category.Text</option>
                }
            </select>
        </div>
        <div class="col-4">
           
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="bi bi-search">Filter</i></button>
        </div>
    </form>
    <a class="btn btn-outline-info mt-2 col-2" asp-controller="News" asp-action="Create"></i>Create</a>

</div>

<div class="row">
    <div class="col-md-8 offset-md-2">

        <table class="table">
            <thead>
                <tr class="text-center">
                    <th> @Html.DisplayNameFor(model => model.Image) </th>
                    <th> @Html.DisplayNameFor(model => model.Id) </th>
                    <th> @Html.DisplayNameFor(model => model.Title) </th>
                    <th> @Html.DisplayNameFor(model => model.Body) </th>
                    <th> @Html.DisplayNameFor(model => model.NewsDate) </th>
                    <th> @Html.DisplayNameFor(model => model.CategoryName) </th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="align-middle">
                            <img class="rounded-circle" src="@item.Image" alt="@item.Image" style="max-width : 150px">
                        </td>
                        <td class="align-middle">@Html.DisplayFor(modelItem => item.Id)</td>
                        <td class="align-middle">@Html.DisplayFor(modelItem => item.Title)</td>
                        <td class="align-middle">@Html.DisplayFor(modelItem => item.Body)</td>
                        <td class="align-middle">@Html.DisplayFor(modelItem => item.NewsDate)</td>
                        <td class="align-middle">@Html.DisplayFor(modelItem => item.CategoryName)</td>

                        <td class="align-middle">
                        <a class="btn btn-outline-info" asp-controller="News" asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-eye"></i>Details</a>
                        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                        {
                            
                                <a class="btn btn-outline-primary" asp-controller="News" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i>Edit</a>
                                <a class="btn btn-outline-danger" asp-controller="News" asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash"></i>Delete</a>
                           
                        }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

